<div class="row">
  <div class="col">
    <mat-form-field appearance="fill" style="margin-right: 5px;" name="food">
      <mat-label>Favorite food</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" name="framework">
      <mat-label>Cars</mat-label>
      <mat-select>
        <mat-option *ngFor="let item of topics" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- 
    <div class="form-group">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li *ngFor="let item of topics">{{item}}</li>
        </ul>
      </div>

    </div> -->
  </div>
</div>