<div class="row align-items-center">
    <div class="col-md-8 col-sm-12">
        <span>1.Total value of taxable electronic service exclusive of VAT</span>
    </div>
    <div class="col-md-4 col-sm-12">
        <input type="text" class="form-control my-2" placeholder="THB" aria-label="Username" style="text-align: right;"
            aria-describedby="basic-addon1">
    </div>
</div>
<div class="row align-items-center">
    <div class="col-md-8 col-sm-12">
        <span>2.Total VAT to be remitted (7% of 1.)</span>
    </div>
    <div class="col-md-4 col-sm-12">
        <input type="text" class="form-control my-2 " placeholder="THB" aria-label="Username" style="text-align: right;"
            aria-describedby="basic-addon1">
    </div>
</div>