<div class="card" style="padding: 10px;">
    <h3><strong>1.Tax Filing Detail</strong></h3>
    <hr class="hr hr-blurry" />
    <h5>Type of filing</h5>
    <app-filling-type></app-filling-type>
    <h5 class="mt-5">Tax month //Ordinary</h5>
    <app-month></app-month>
    
    <!-- Addtional filing -->    
    <ng-template ngIf="true">
        <div class="row">
            <div class="col"> 
                <h5 class="mt-1">Tax month //Addtional</h5>
                <mat-form-field appearance="fill" style="margin-right: 5px;" name="food">
                    <mat-label>Favorite food</mat-label>
                    <mat-select>
                      <mat-option>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              
                  <mat-form-field appearance="fill" name="framework">
                    <mat-label>Cars</mat-label>
                    <mat-select>
                      <mat-option ></mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="col">
                <h5 class="mt-1">Type</h5>
                <mat-form-field appearance="fill" name="framework">
                    <mat-label>Cars</mat-label>
                    <mat-select>
                      <mat-option ></mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>

        <div class="row">
          </div>
    </ng-template>
        
        <h3><strong>2.Tax Computation</strong></h3>
        <hr class="hr hr-blurry" />
        //Ordinary
        <h5><strong>Provide total value taxable electronic service</strong> </h5>
        <app-sale-amount></app-sale-amount>

        <ng-template ngIf="true">
            <h5>//Addtional</h5>
            <h5><strong>In case of late filing and payment, or addtional filing</strong> </h5>
            <div class="row align-items-center">
                <div class="col-md-8 col-sm-12">
                    <span>3. Surcharge</span>
                </div>
                <div class="col-md-4 col-sm-12">
                    <input disabled type="text" class="form-control my-2" placeholder="THB" aria-label="Username" style="text-align: right;"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-8 col-sm-12">
                    <span>4.Total VAT to be remitted (7% of 1.)</span>
                </div>
                <div class="col-md-4 col-sm-12">
                    <input disabled type="text" class="form-control my-2 " placeholder="THB" aria-label="Username" style="text-align: right;"
                        aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-8 col-sm-12">
                    <span>5.Total</span>
                </div>
                <div class="col-md-4 col-sm-12">
                    <input disabled type="text" class="form-control my-2 " placeholder="THB" aria-label="Username" style="text-align: right;"
                        aria-describedby="basic-addon1">
                </div>
            </div>
        </ng-template>

</div>