<form #userForm="ngForm">
  <!--   {{userForm.value | json }} -->
  {{userModel | json}}

  <div class="form-group" (ngSubmit)="onSubmit()">
    <mat-radio-group aria-label="Select an option" name="value" [(ngModel)]="userModel.radiovalue">
      <mat-radio-button value="0" #myvalue0>Ordinary filling</mat-radio-button>
      <mat-radio-button value="1" #myvalue1>Additional filling</mat-radio-button>
    </mat-radio-group>

    <div class="row">
      <div class="col">
        <h5>Tax month //Ordinary</h5>

        <!-- Month -->
        <mat-form-field appearance="fill" style="margin-right: 5px;">
          <mat-label>Month</mat-label>
          <mat-select name="month" [(ngModel)]="userModel.monthvalue">
            <mat-option *ngFor="let item of months" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Year -->
        <mat-form-field appearance="fill" name="framework">
          <mat-label>Year</mat-label>
          <mat-select name="year" [(ngModel)]="userModel.yearvalue">
            <mat-option *ngFor="let item of years" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col" *ngIf="userModel.radiovalue == '1' ">
        <h5>Type</h5>
        <mat-form-field appearance="fill" name="framework">
          <mat-label>Cars</mat-label>
          <mat-select>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
    <div>
      <div class="row align-items-center">
        <div class="col-md-8 col-sm-12">
          <span>1.Total value of taxable electronic service exclusive of VAT</span>
        </div>
        <div class="col-md-4 col-sm-12">
          <input type="number" (blur)="calculate($event)" class="form-control my-2" name="saleamount"
            [(ngModel)]="userModel.saleamount" placeholder="THB" style="text-align: right;">
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-8 col-sm-12">
          <span>2.Total VAT to be remitted (7% of 1.)</span>
        </div>
        <div class="col-md-4 col-sm-12">
          <input type="number" value="{{currentValue}}" class="form-control my-2" name="taxamount"
            [(ngModel)]="userModel.taxamount" placeholder="THB" style="text-align: right;">
        </div>
      </div>
    </div>

    <!--     <div *ngIf="userModel.radiovalue == '0' ">
      <app-sale-amount></app-sale-amount>
      <app-tax-amount></app-tax-amount>
    </div> -->

    <div *ngIf="userModel.radiovalue == '1' ">
      <h3><strong>2.Tax Computation</strong></h3>
      <hr class="hr hr-blurry" />
      <h5><strong>In case of late filing and payment, or addtional filing</strong> </h5>


      <!-- Component -->
      <div>
        <div class="row align-items-center">
          <div class="col-md-8 col-sm-12">
            <span>3. Surcharge</span>
          </div>
          <div class="col-md-4 col-sm-12">
            <input disabled value="{{surchargeValue}}" type="text" class="form-control my-2" placeholder="THB" aria-label="Username"
              style="text-align: right;" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-8 col-sm-12">
            <span>4.Total VAT to be remitted (7% of 1.)</span>
          </div>
          <div class="col-md-4 col-sm-12">
            <input disabled value="{{penalty}}" type="text" class="form-control my-2 " placeholder="THB" aria-label="Username"
              style="text-align: right;" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-8 col-sm-12">
            <span>5.Total</span>
          </div>
          <div class="col-md-4 col-sm-12">
            <input disabled value="{{totaofvat}}" type="text" class="form-control my-2 " placeholder="THB" aria-label="Username"
              style="text-align: right;" aria-describedby="basic-addon1">
          </div>
        </div>
      </div>

    </div>
  </div>
  <button type="submit" class="btn btn-warning mt-5"  style="border-radius: 20px;">Next</button>
</form>